.center {
	margin: auto;
	width: 12%;
	padding: 60px;
}

.button.glitch, button.glitch, input[type=button].glitch, input[type=submit].glitch {
	letter-spacing: 0.26em;
	font-family: 'Bebas Neue', cursive;
	width: 7rem;
	padding: 0;
	font-size: 1rem;
	color:black;
	position: absolute;
	bottom: 100px;
	right: 315px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.button.glitch:focus:before, .button.glitch:hover:before, button.glitch:focus:before, button.glitch:hover:before, input[type=button].glitch:focus:before, input[type=button].glitch:hover:before, input[type=submit].glitch:focus:before, input[type=submit].glitch:hover:before {
	-webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
	animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.button.glitch:focus:after, .button.glitch:hover:after, button.glitch:focus:after, button.glitch:hover:after, input[type=button].glitch:focus:after, input[type=button].glitch:hover:after, input[type=submit].glitch:focus:after, input[type=submit].glitch:hover:after {
	-webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
	animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

.button.glitch:focus .text, .button.glitch:hover .text, button.glitch:focus .text, button.glitch:hover .text, input[type=button].glitch:focus .text, input[type=button].glitch:hover .text, input[type=submit].glitch:focus .text, input[type=submit].glitch:hover .text {
	-webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.button.glitch:after, .button.glitch:before, button.glitch:after, button.glitch:before, input[type=button].glitch:after, input[type=button].glitch:before, input[type=submit].glitch:after, input[type=submit].glitch:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
}
.button.glitch:before, button.glitch:before, input[type=button].glitch:before, input[type=submit].glitch:before {
	background:blue;
	z-index: -1;
}
.button.glitch:after, button.glitch:after, input[type=button].glitch:after, input[type=submit].glitch:after {
	background: red;
	z-index: -2;
}
.button.glitch .text, button.glitch .text, input[type=button].glitch .text, input[type=submit].glitch .text {
	display: block;
	padding: 1rem 1.5rem;
	background: white;
	-webkit-transition: -webkit-filter 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: -webkit-filter 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: filter 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: filter 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-filter 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@-webkit-keyframes glitch {
	0%, 100% {
		-webkit-transform: translate(0);
		transform: translate(0);
   }
	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
   }
	40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
   }
	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
   }
	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
   }
}
@keyframes glitch {
	0%, 100% {
		-webkit-transform: translate(0);
		transform: translate(0);
   }
	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
   }
	 40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
   }
   
	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
   }
   
	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
   }
}
.text {
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
